.all-content{
position: relative;
overflow-x: hidden;
height: 100vw;
}
.contents {
  display: flex;
  justify-content: space-between;
  margin-left: 90px;
  margin-top: 130px;
}
.quote{
  text-align: left;
}
.quote > h1 {
  font-weight: 600;
  font-size: 4.25rem;
}
.quote > p {
  font-weight: 400;
  font-size: 1.42rem;
  opacity: 58%;
  margin: 3px 0;
  color: #939393;
}
.start-btn {
  margin-top: 24px;
  font-size: 1.2em;
  border-radius: 12.4px;
  padding: 5.5px 25px 10px 25px;
  color: #ffffff;
  border: none;
  background-color: #3EF9A9B2;
  background: linear-gradient(98.87deg, rgba(62, 249, 169, 0.7) -57.95%, rgba(32, 198, 255, 0.7) 120.4%);
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.15);
}
.folders {
  z-index: -1;
}

.green {
  /* green_folder */

  position: absolute;
  width: 700px;
  height: 550px;
  right: -15%;
  top: -150px;
}
.black {
  /* black_folder */

  position: absolute;
  width: 700px;
  height: 550px;
  right: -10%;
  top: 120px;
}
.blue {
  position: absolute;
  width: 700px;
  height: 550px;
  right: -10%;
  top: 420px;
}
