.signup-page {
  margin-left: 8%;
  text-align: left;
  display: flex;
  justify-content: space-between;
}
.signup-form {
  font-size: 1rem;
}
.signup-form > h1 {
  font-size:3rem;
}
.signup-form > .req-info{
  margin:0;
  padding: 0;
  font-weight: 400;
  opacity: 80%;
  padding-top: 17px;
}
.signup-form > div > input {
  border-radius: 10px;
  border: none;
  box-shadow: 0px 0px 10px #3EF9A9;
  min-height: 50px;
  width:30vw ;
  max-width: 30vw;
  padding-left: 34px;
  font-size: 1.2rem;
  font-weight: 400;
}
.data {
  position: relative;
}
.signup-form > div > label {
  position: absolute;
  z-index: 1;
  top: 30%;
  left:2.3%;

}
.signup-form > button {
  margin-top: 24px;
  min-height: 50px;
  width: 30vw;
  max-width: 30vw;
  font-size: 1.7em;
  border-radius: 10px;
  color: white;
  border: none;
  background-color: #3EF9A9;
  background: linear-gradient(91.39deg, #3EF9A9 -12.03%, #F9F9F9 376.2%);
box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}
.horizonatl-rule {
  height: 1.5px;
  max-width: 32vw;
  background-color: grey;
  opacity: 25%;
  margin-top: 14px;
  margin-bottom: 15px;
}
.signup-form > .policy {
  font-weight: 400;
  font-size: 0.88rem;
  opacity: 50%;
}
.logo-box{
  position: relative;
  background-color: transparent;
  height: 84.6vh;
  width: 40vw;
  overflow: hidden;
}
.logo-lg{ 
  height: 694px;
  position: absolute;
  bottom: -34%;
  left: -7%;
}